In [1]:
import pandas as pd
import os

In [3]:
def fileReading(fileName):
    with open(fileName,'r') as f:
        lines=f.readlines()
    labels=[]
    features=[]
    for i in lines:
        x = i.split(';')
        features.append(x[0])
        labels.append(x[1][:-1])
        
    return features, labels

In [5]:
text,labels = fileReading('senti/train.txt')

In [11]:
data = pd.DataFrame([text,labels]).T
data.columns = ['Text','Labels']

In [12]:
data

                                                    Text   Labels
0                                i didnt feel humiliated  sadness
1      i can go from feeling so hopeless to so damned...  sadness
2       im grabbing a minute to post i feel greedy wrong    anger
3      i am ever feeling nostalgic about the fireplac...     love
4                                   i am feeling grouchy    anger
...                                                  ...      ...
15995  i just had a very brief time in the beanbag an...  sadness
15996  i am now turning and i feel pathetic that i am...  sadness
15997                     i feel strong and good overall      joy
15998  i feel like this was such a rude comment and i...    anger
15999  i know a lot but i feel so stupid because i ca...  sadness

[16000 rows x 2 columns]

In [17]:
data1 = pd.read_csv('Emotion_final.csv/Emotion_final.csv')
data2 = pd.read_csv('data.csv/data.csv')
data3 = pd.read_csv('tweet_emotions.csv/tweet_emotions.csv')

In [19]:
data

                                                    Text   Labels
0                                i didnt feel humiliated  sadness
1      i can go from feeling so hopeless to so damned...  sadness
2       im grabbing a minute to post i feel greedy wrong    anger
3      i am ever feeling nostalgic about the fireplac...     love
4                                   i am feeling grouchy    anger
...                                                  ...      ...
15995  i just had a very brief time in the beanbag an...  sadness
15996  i am now turning and i feel pathetic that i am...  sadness
15997                     i feel strong and good overall      joy
15998  i feel like this was such a rude comment and i...    anger
15999  i know a lot but i feel so stupid because i ca...  sadness

[16000 rows x 2 columns]

In [26]:
data1.columns = ['Text','Labels']
data2.columns = ['Text','Labels']
data3.columns = ['Labels','Text']

In [29]:
data = data.append(data1,ignore_index=True)

In [31]:
data = data.append(data2,ignore_index=True)

In [32]:
data = data.append(data3,ignore_index=True)

In [43]:
data['Labels'].value_counts()

sad           19124
happy         16166
neutral        9465
worry          8459
joy            7138
love           6787
angry          6603
fear           5452
surprise       4037
relief         1526
hate           1323
enthusiasm      759
disgust         637
Name: Labels, dtype: int64

In [35]:
for labels in range(len(data['Labels'].values)):
    if data['Labels'][labels] == 'sadness':
        data['Labels'][labels] = 'sad'
    elif data['Labels'][labels] == 'boredom':
        data['Labels'][labels] = 'sad'
    elif data['Labels'][labels] == 'happiness':
        data['Labels'][labels] = 'happy'
    elif data['Labels'][labels] == 'empty':
        data['Labels'][labels] = 'neutral'
    elif data['Labels'][labels] == 'fun':
        data['Labels'][labels] = 'joy'
    elif data['Labels'][labels] == 'anger':
        data['Labels'][labels] = 'angry'

In [42]:
len(set(data['Labels']))

13

In [ ]:
data.to_csv('full_data.csv',index=)